@keyframes piscar {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

Body {

    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    background-image: url('https://concoord15.web.app/img/bkg/background.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.subbody {

    background-image: url('https://concoord15.web.app/img/bkg/subbackground.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.subbody1 {

    background-image: url('https://concoord15.web.app/img/bkg/subbackground1.png');
    
}

.piscar {
    animation: piscar 1s ease-in-out 1;
}

.content {
    background-color: #eeeeee94;
}

.h5c {
    font-weight: 550;
}

.h5-5 {
    font-size: 15px;
}

.h6 {
    font-size: 90%;
}

.navbar-collapse {
    max-height: 5px;
}

.vertical-line {
    border-left: 1px solid #000;
    /* Escolha a cor desejada para a linha */
    height: 25px;
    /* Altura da linha vertical */
    margin-left: 50px;
    /* Ajuste a margem conforme necessário */
}

.htitulo {
    font-size: 22px;
    font-weight: 550;
    font-stretch: condensed;
    color: rgb(0, 62, 107);
    margin-left: -3px;
}

.subtitulo {
    margin-top: -7px;
    color: rgb(182, 183, 196);
}

.h7 {
    font-size: 320%;
    font-weight: 800;
}

.h8 {
    font-size: 650%;
    font-weight: 800;
}

.simplebar-content-wrapper {
    margin-left: -10px;
}

.sidebar-item {
    font-size: 95%;
    margin-left: -5px;
}

.menu {
    margin-left: -7px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
}

.menu:hover {
    color: rgb(255, 255, 255);
}

.active {
    background-color: #24303f;
}

.sidebar-nav {
    margin-top: -30px;
}

.sidebar-header {
    /*color: rgba(255, 255, 255, 0.678);
    color: #ced4da;*/
    color: rgba(255, 255, 255, 0.329);
    font-size: 12px;
}

.headdrop {
    color: rgba(34, 66, 151, 0.897);
    font-size: 12px;
}

.controls-login{

    padding: 20px;
    padding-top: 0%;
    padding-block-end: 1%;
}

.logotopo {

    max-width: 65%;
    justify-content: center;
    align-items: center;

}

.logosidebar {
    width: 70%;
}

.titulo-painel {

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: #215492;
}

.hr0 {
    margin-top: 0.5%;
}

.tile {
    color: rgba(7, 18, 41, 0.692);
}

.tiledown {
    color: rgba(89, 96, 102, 0.479);
    font-size: 15px;
}

.card-titulo {
    color: #222d3a;

}

.card-subtitulo {
    font-size: 11px;
    margin-top: -6px;
}

.card-subtitulo-2 {
    font-size: 12px;
    margin-top: 2px;
}

.card-resultado-gerencial {
    margin-top: -28px;
    margin-left: -1px;
    height: 188px;
}

.card-resultado {
    margin-top: -28px;
    margin-left: -1px;
}

.card-grafico-gerencial {
    width: 150px;
    margin-top: -60px;
    margin-block-end: -10px;

}

.chart-sm {
    margin-top: -25px;
}

.card-grafico {
    width: 70px;
    margin-top: -6.7rem;
    margin-right: -.2rem;
    margin-block-end: -10.2rem;

}

.card-body {
    color: var(--bs-card-color);
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)
}

.grafico-mensais {
    margin-block-end: -5px;
}

.verde {
    color: #5F9EA0;
}

.tabela-w17 {
    width: 10rem;
}

.margin-12 {
    margin-block-end: 12px;
}

.margin-15 {
    margin-block-end: 15px;
}

.grafico-participacao {
    width: 80%;
}

.seg1 {
    background-color: #CD5C5C;
    width: 50%;
}

.dropdown-toggle {
    margin-right: 0.5rem;
}

.nav-link-data {
    color: rgb(35, 105, 235);
}

.nav-text {
    font-size: 110%;
}

.bold {
    font-weight: 900;
}

.tab-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-table {
    margin-top: -1.5rem;
}

.badge {
    font-weight: 500;

}

.table-verde {
    color: #5F9EA0;
}

.table-amarelo {
    color: #DAA520;
}

.table-vermelho {
    color: #CD5C5C;
}

.loader {
    border: 4px solid #fdfdfd;
    /* Light grey */
    border-top: 4px solid #316f97;
    /* Blue */
    border-radius: 70%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
}

.loaderPlanos {
    border: 4px solid #fdfdfd;
    /* Light grey */
    border-top: 4px solid #316f97;
    /* Blue */
    border-radius: 70%;
    width: 60px;
    height: 60px;
    animation: spin 0.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-message {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.li-stone {
    margin-bottom: 5px;
}

.img-right {
    float: right;
}

.form-control-lg {
    min-height: 40px;
    font-size: 120%;
}

.btn-lg {
    min-height: 40px;
    font-size: 100%;
}

.btn-login {
    min-height: 50px;
    font-size: 100%;
}

.h2-5 {
    font-size: 20px;
}

.h2 {

    font-weight: 700;
    font-style: normal;
    color: #2c3c50;

}

.alerta {
    display: none;
    min-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.box-selecao {
    min-width: 500px;
    min-height: 100px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.invisivel {
    display: none;
}

.btn-primary {
    background-color: rgb(0, 65, 107);
    border-color: rgb(0, 65, 107);
}

.alert-message {
    border: 1px solid #ced4da;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    background-color: #dc3545;
    border-color: #dc3545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;
    min-height: 55px;
    margin-block-end: 20px;
}

.alert-message .btn-close {
    margin-left: auto;
}

